nav ul {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
nav li {
    float: left;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav li a:hover {
    background-color: #111;
  }
main {
    display: flex;
    flex-flow: row wrap;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin-left: 50px;    
  background-color: aqua;
  border-radius: 30px;
}

#thermostatContainer {
    height: 500px;
    width: 320px;
}

#thermostatContainer div {
  display: flex;
  justify-content: center;
  align-items: space-around;
  margin: 0px 30px;
}

#temperatureContainer {
  height: 300px;
  width: 300px;
  align-items: center;
}

#usageContainer {
height: 250px;
width: 300px;
align-items: center;
}

main input {
  width: 50px;
  padding: 10px 10px;
  box-sizing: border-box;
}

#tempSubmit {
  background-color:rgb(8, 2, 61);
  color: white;
  margin-top: 15px;
  width: 200px;
}


/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content input {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  #dateButtonTemp {
      color: black;
      font-weight: bold;
      background-color: grey;
  }

  /* #dateButtonUsage {
    color: black;
    font-weight: bold;
    background-color: grey;
  } */