<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kiowa Dashboard</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="15">
</head>
<body>
    <header>
        <h1>Kiowa Raspberry Dashboard</h1>
    </header>
    <nav>
        <ul>
            <li><a href='/temps/today'>View Today's Temps</a></li>
            <li class="dropdown">
                <button class="dropbtn">View Temps on Date</button>
                <div class="dropdown-content">
                    <input id="dateInputTemp" value="2021-12-08"></input>
                    <a id="dateButtonTemp" href='/temps/2021-12-08'>GO</a>
                </div>
            </li>
            <li><a href='/usage/today'>View Today's Usage</a></li>
            <!-- <li class="dropdown">
                <button class="dropbtn">View Usage on Date</button>
                <div class="dropdown-content">
                    <input id="dateInputUsage" value="2021-12-08"></input>
                    <a id="dateButtonUsage" href='/usage/2021-12-08'>GO</a>
                </div>
            </li> -->
        </ul>
    </nav>
    <main>
        <section id="thermostatContainer" class="container">
            <form  method="POST" action="/venstar">
                <div>
                    <h1>Kiowa Thermostat</h1>
                </div>
                <div>
                    <p class='winter'>Heat Time Today: {{data.heat_time}} minutes</p>
                    <p class='summer'>Cool Time Today: {{data.cool_time}} minutes</p>
                </div>
                <div>
                    <p>Thermostat Status: {{data.mode}}</p>
                </div>
                <div>
                    <input type="radio" id='modeoff' name="mode" value="0">
                    <label for="off">OFF</label>
                    <input class="winter" type="radio" id="modeheat" name="mode" value="1">
                    <label class="winter" for="heat">HEAT</label>
                    <input class="summer" type="radio" id="modecool" name="mode" value="2">
                    <label class="summer" for="cool">COOL</label>
                    <input type="radio" id="modeauto" name="mode" value="3">
                    <label for="auto">AUTO</label>
                </div>
                <div>
                    <p id='fanText'>Fan Setting: {{data.fan_setting}}</p>
                </div>
                <div>
                    <input type="radio" id='fanauto' name="fan" value="0">
                    <label for="auto">AUTO</label><br>
                    <input type="radio" id="fanon" name="fan" value="1">
                    <label for="on">ON</label>
                </div>
                <div class="winter">
                    <p>Heat Setting: {{data.heat_temp}}*F</p>
                </div>
                <div class="winter">
                    <input id='heattemp' name="heat_temp" value={{data.heat_temp}}></input>
                </div>
                <div class="summer">
                    <p>Cool Setting: {{data.cool_temp}}*F</p>
                </div>
                <div class="summer">
                    <input id='cooltemp' name="cool_temp" value={{data.cool_temp}}></input>
                </div>
                <div>
                    <input id="tempSubmit" type="submit" value="Adjust Thermostat"></input>
                </div>
            </form>
        </section>
        <section id="temperatureContainer" class="container">
            <h1>Kiowa Temperatures</h1>
            <p>Thermostat Temp: {{data.current_temp}}*F</p>
            <p>Living Room Temp: {{data.living_room_temp}}*F</p>
            <p id="garageTemperature">Garage Temp: UNK*F</p>
            <p>Outside Temp: {{data.outside_temp}}*F</p>
            <p>Living Room Humidity: {{data.humidity}}%</p>
        </section>
        <!-- <section id="usageContainer" class="container">
            <h1>Thermostat Use</h1>
            <p class='winter'>Heat Time Today: {{data.heat_time}} minutes</p>
            <p class='summer'>Cool Time Today: {{data.cool_time}} minutes</p>
        </section> -->
        <section id="lightingContainer" class="container">
            <h1>Landscape Lighting Status</h1>
            <p id="landscapeState">Landscape Lighting: {{data.landscape_state}}</p>
            <p>At time: {{data.last_landscape_change}}</p>
            <p id="landscapeDelaySetTime">Current Delay Set: No Data</p>
            <div id="landscapeDelaySelector">
                <p>Set new delay (minutes): </p>
                <input id="delayDateTime"></input>
                
            </div>
            <label class="switch">
                
                
                {% if data.landscape_stat == 'ON'%}<input id='landscapeLightSwitch' type="checkbox">
                {% else %}<input id='landscapeLightSwitch' type="checkbox" checked>{% endif %}
                <span class="slider round"></span>
            </label>
        </section>
    </main>
    <script>
        const data = JSON.parse('{{ data | tojson | safe}}');
        
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>