<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kiowa Dashboard</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="20">
    <script>
        const data = JSON.parse('{{ data | tojson | safe}}');
    </script>
</head>
<body>
    <header>
        <h1>Kiowa Raspberry Dashboard</h1>
    </header>
    <nav>
        <ul>
            <li><a href='/temps/today'>View Today's Temps</a></li>
            <li class="dropdown">
                <button class="dropbtn">View Temps on Date</button>
                <div class="dropdown-content">
                    <input id="dateInputTemp"></input>
                    <a id="dateButtonTemp" href='/temps/2021-12-08'>GO</a>
                </div>
            </li>
            <li><a href='/usage/today'>View Today's Usage</a></li>
            <!-- <li class="dropdown">
                <button class="dropbtn">View Usage on Date</button>
                <div class="dropdown-content">
                    <input id="dateInputUsage" value="2021-12-08"></input>
                    <a id="dateButtonUsage" href='/usage/2021-12-08'>GO</a>
                </div>
            </li> -->
            <li><a href='/food/schedule'>View Food Schedule</a></li>
            <li><a href='http://192.168.86.38:8000'>Backyard Cam</a></li>
            <li><a href='/weather'>Weather Outlook</a></li>
            <li><a href='/api/bedtime'>Bedtime!</a></li>
        </ul>
    </nav>
    <main>
        <section id="thermostatContainer" class="container">
            <form method="POST" action="/venstar">
                <div>
                    <h1>Kiowa Thermostat</h1>
                </div>
                <div>
                    <p class='winter'>Heat Time Today: {{data.heat_time}} minutes</p>
                    <p class='summer'>Cool Time Today: {{data.cool_time}} minutes</p>
                </div>
                <div>
                    <p>Thermostat Status: {{data.mode}}</p>
                </div>
                <div>
                    <input type="radio" id='modeoff' name="mode" value="0">
                    <label for="off">OFF</label>
                    <input class="winter" type="radio" id="modeheat" name="mode" value="1">
                    <label class="winter" for="heat">HEAT</label>
                    <input class="summer" type="radio" id="modecool" name="mode" value="2">
                    <label class="summer" for="cool">COOL</label>
                    <input type="radio" id="modeauto" name="mode" value="3">
                    <label for="auto">AUTO</label>
                </div>
                <div>
                    <p id='fanText'>Fan Setting: {{data.fan_setting}}</p>
                </div>
                <div>
                    <input type="radio" id='fanauto' name="fan" value="0">
                    <label for="auto">AUTO</label><br>
                    <input type="radio" id="fanon" name="fan" value="1">
                    <label for="on">ON</label>
                </div>
                <div>
                    <p class="winter">Heat Setting:</p>
                </div>
                <div>
                    <button class="winter roundButton" id="heatDecrease" type="button">~</button>
                    <input class="winter" id='heattemp' name="heat_temp" value={{data.heat_temp}}></input>
                    <button class="winter roundButton" id="heatIncrease" type="button">+</button>
                </div>
                <div>
                    <p class="summer">Cool Setting:</p>
                </div>
                <div>
                    <button class="summer roundButton" id="coolDecrease" type="button">-</button>
                    <input class="summer" id='cooltemp' name="cool_temp" value={{data.cool_temp}}></input>
                    <button class="summer roundButton" id="coolIncrease" type="button">+</button>
                </div>
                <div>
                    <input id="tempSubmit" type="submit" value="Adjust Thermostat"></input>
                </div>
            </form>
        </section>
        <section id="temperatureContainer" class="container">
            <h1>Kiowa Temperatures</h1>
            <p>Thermostat Temp: {{data.current_temp}}*F</p>
            <p>Living Room Temp: {{data.living_room_temp}}*F</p>
            <p id="garageTemperature">Garage Temp: *F</p>
            <p>Outside Temp: {{data.outside_temp}}*F</p>
            <p>Living Room Humidity: {{data.humidity}}%</p>
        </section>
        <!-- <section id="usageContainer" class="container">
            <h1>Thermostat Use</h1>
            <p class='winter'>Heat Time Today: {{data.heat_time}} minutes</p>
            <p class='summer'>Cool Time Today: {{data.cool_time}} minutes</p>
        </section> -->
        <section id="lightingContainer" class="container">
            <h1>Landscape Lighting Status</h1>
            <p id="landscapeState">Landscape Lighting: {{data.landscape_state}}</p>
            <p>At time: {{data.last_landscape_change}}</p>
            <p id="landscapeDelaySetTime">Delay Set Time: No Data</p>
            <div id="landscapeDelaySelector">
                <p>Set new delay (minutes): </p>
                <input id="delayDateTime"></input>
                
            </div>
            <label class="switch">
                <input id='landscapeLightSwitch' type="checkbox">
                <span class="slider round"></span>
            </label>
        </section>
        <section id="smartThingsContainer" class="container">
            <h1>Kiowa Lighting Status</h1>
            <label id="pineappleLabel" class="crossedOutLabel">Pineapple</label>
            <label class="switch">
                <input id='pineappleSwitch' type="checkbox">
                <span class="slider round"></span>
            </label>
            <label id="diningroomLabel" class="crossedOutLabel">Dining Room</label>
            <label class="switch">
                <input id='diningroomSwitch' type="checkbox">
                <span class="slider round"></span>
            </label>
            <label id="garageLabel" class="crossedOutLabel">Garage</label>
            <label class="switch">
                <input id='garageSwitch' type="checkbox">
                <span class="slider round"></span>
            </label>
            <label id="bedroomLabel" class="crossedOutLabel">Bedroom</label>
            <label class="switch">
                <input id='bedroomSwitch' type="checkbox">
                <span class="slider round"></span>
            </label>
            <label id="lanternLabel" class="crossedOutLabel">Lantern</label>
            <label class="switch">
                <input id='lanternSwitch' type="checkbox">
                <span class="slider round"></span>
            </label>
            <label id="stringlightsLabel" class="crossedOutLabel">String Lights</label>
            <label class="switch">
                <input id='stringlightsSwitch' type="checkbox">
                <span class="slider round"></span>
            </label>
        </section>
        <section id="bedtimeContainer" class="container">
            <h1>Bedtime Data</h1>
            <div>
                <h3>Last Night's Bedtime:</h3>
                <p>{{data.last_bedtime}}</p>
            </div>
            <div>
                <h3>Today's Bedtime:</h3>
                <p>{{data.today_bedtime}}</p>
            </div>
        </section>
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>